<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted p-0 mt-5 footer">
  <div class="container">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="" class="me-4 text-reset">
            <i class="fab fa-google"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
          </a>
        </li>
    </ul>






      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="">RentAGeek.com</a>
    </div>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
