<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted p-0 mt-5 footer">
  <div class="container-sm">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f orange-icon"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter orange-icon"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="" class="me-4 text-reset">
            <i class="fab fa-google orange-icon"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram orange-icon"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin orange-icon"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="" class="me-4 text-reset">
            <i class="fab fa-github orange-icon"></i>
          </a>
        </li>
    </ul>

      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: #A8DDCE;">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="">RentAGeek.com</a>
    </div>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
