
<%= cl_image_tag offer.user.photo.key, height: 60, width: 60, crop: :fill, class: "rounded-circle" %>
<h3><%= offer.model %></h3>
<p><%= offer.brand %></p>
<p><%= link_to "Détail", offer_path(offer) %></p>
