.button {
  width: 206px;
  height: 63px;
  display: inline-block;
  background-color: #F0544F;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 63px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #F0544F;
}
