.button {
  width: 206px;
  height: 63px;
  background-color: #e60e05; /* Color same as title */
  border-radius: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 63px; /* Vertically center the text */
  cursor: pointer; /* Add a pointer cursor on hover */
  border: none; /* Remove default button border */
  outline: none; /* Remove button outline on focus */
  transition: background-color 0.3s; /* Add a smooth transition for background color */
}

.custom-button:hover {
  background-color: #F0544F; /* Change background color on hover (if desired) */
}

.btn-view-offer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 15px;

}

.btn-danger {
  color: white;
  border-radius: 5px;
}

.btn-danger:hover {
  background-color: #F0544F; /* Change background color on hover (if desired) */
}

.btn-new {
  position: relative;
  transform: translateX(205%);
  display: grid;
  grid: 1fr;
}
