.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 5px;
  float: inline-start;
}

.fa-heart:hover {
  content: "\f004";
  opacity: 0.6;
  color: red;
}

.image-elements {
  padding: 15px;
}

.date {
  text-align: center;
}
