.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.center-text {
  text-align: center;
  margin: 0 auto;
  display: block;
}


.navbar-nav {
  color: #F0544F;
}

.navbar {
  border-bottom: black solid 1px;
  position:fixed;
  top:0;
  z-index:1000;
  width: 100%;
}

.navbar-brand {
  width: 50px;
}
