.edit_offer {
  padding-top: 80px;
  padding-bottom: 20px;
}

.container_edit {
  padding-top: 0px;
}

.simple_form {
  padding-top: 0px;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 0px;
}

.banner {
  padding: 150px 0;
  background-size: cover;
}
